In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Exploring the Dataset

In [6]:
! ls /home/slcot/bikes/dataset/trips | head

201501-hubway-tripdata.csv
201502-hubway-tripdata.csv
201503-hubway-tripdata.csv
201504-hubway-tripdata.csv
201505-hubway-tripdata.csv
201506-hubway-tripdata.csv
201507-hubway-tripdata.csv
201508-hubway-tripdata.csv
201509-hubway-tripdata.csv
201510-hubway-tripdata.csv

In [7]:
! ls /home/slcot/bikes/dataset/stations

current_bluebikes_stations.csv

In [8]:
stations_df = pd.read_csv('dataset/stations/current_bluebikes_stations.csv')

In [9]:
stations_df

,Last updated,10/6/2022,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Number,Name,Latitude,Longitude,District,Public,Total docks,Deployment Year
1,K32015,1200 Beacon St,42.34414899,-71.11467361,Brookline,Yes,15,2021
2,W32006,160 Arsenal,42.36466403,-71.17569387,Watertown,Yes,11,2021
3,A32019,175 N Harvard St,42.363796,-71.129164,Boston,Yes,18,2014
4,S32035,191 Beacon St,42.38032335,-71.10878613,Somerville,Yes,19,2018
...,...,...,...,...,...,...,...,...
441,N32005,West Newton,42.3496005,-71.22627497,Newton,Yes,15,2020
442,A32043,Western Ave at Richardson St,42.36178741,-71.14393111,Boston,Yes,19,2019
443,B32059,Whittier St Health Center,42.33286288,-71.09218862,Boston,Yes,19,2019
444,D32040,Williams St at Washington St,42.306539,-71.107669,Boston,Yes,23,2018
445,S32005,Wilson Square,42.38567579,-71.11412136,Somerville,Yes,15,2012

In [10]:
example_trip_df = pd.read_csv('dataset/trips/201505-hubway-tripdata.csv')

In [11]:
example_trip_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,909,2015-05-01 00:01:12,2015-05-01 00:16:21,115,Porter Square Station,42.387995,-71.119084,74,Harvard Square at Mass Ave/ Dunster,42.373268,-71.118579,751,Subscriber,\N,0
1,227,2015-05-01 00:04:32,2015-05-01 00:08:19,74,Harvard Square at Mass Ave/ Dunster,42.373268,-71.118579,104,Harvard University Radcliffe Quadrangle at She...,42.380287,-71.125107,692,Subscriber,1994,1
2,465,2015-05-01 00:06:32,2015-05-01 00:14:17,74,Harvard Square at Mass Ave/ Dunster,42.373268,-71.118579,75,Lafayette Square at Mass Ave / Main St / Colum...,42.363465,-71.100573,478,Subscriber,1985,2
3,462,2015-05-01 00:07:56,2015-05-01 00:15:38,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,45,Yawkey Way at Boylston St.,42.344706,-71.097515,419,Customer,1981,1
4,7024,2015-05-01 00:11:09,2015-05-01 02:08:13,9,Agganis Arena - 925 Comm Ave.,42.351246,-71.115639,10,B.U. Central - 725 Comm. Ave.,42.350406,-71.108279,110,Subscriber,\N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149138,466,2015-05-31 23:41:45,2015-05-31 23:49:31,91,One Kendall Square at Hampshire St / Portland St,42.366277,-71.091690,84,CambridgeSide Galleria - CambridgeSide PL at L...,42.366981,-71.076472,277,Subscriber,\N,0
149139,662,2015-05-31 23:42:04,2015-05-31 23:53:07,67,MIT at Mass Ave / Amherst St,42.358100,-71.093198,87,Harvard University Housing - 115 Putnam Ave at...,42.366621,-71.114214,903,Subscriber,1992,2
149140,331,2015-05-31 23:46:31,2015-05-31 23:52:03,43,Rowes Wharf - Atlantic Ave,42.357143,-71.050699,48,Post Office Square,42.356755,-71.055407,617,Subscriber,\N,0
149141,331,2015-05-31 23:46:32,2015-05-31 23:52:03,43,Rowes Wharf - Atlantic Ave,42.357143,-71.050699,48,Post Office Square,42.356755,-71.055407,594,Subscriber,\N,0
149142,309,2015-05-31 23:46:46,2015-05-31 23:51:55,43,Rowes Wharf - Atlantic Ave,42.357143,-71.050699,48,Post Office Square,42.356755,-71.055407,199,Subscriber,\N,0